# Importing data
Importing the cleaned and mapped data from _data_import_and_cleaning plus providing with a quick dfs' overview.

In [1]:
from _data_import_and_cleaning import *

In [2]:
df_initial_data.head()

,Time,Category level 0,Category level 1,Category level 2,Unique SKUs Listed,Unique SKUs Sold,# of sold SKU items,Price before Discount (includ. VAT) (EUR),Discount Value (EUR),Item COGS (net VAT) (EUR),"Waste, # of items"
0,2023-09-17,Fresh Food,üßÄ Cheese,Hard Cheese,26,17,37,135.812592,10.491467,88.81738,0
1,2023-08-02,Fresh Food,üçû Bakery,Gluten Free,1,0,0,0.000000,0.000000,0.00000,0
2,2023-08-26,Fresh Food,ü•õ Dairy & Eggs,Sour Cream & Cream,14,10,26,53.454514,3.213313,31.87778,0
3,2023-09-24,Fresh Food,ü•™ Fresh & Ready,Desserts & Sweets,25,13,47,61.698558,3.516517,41.22566,0
4,2023-09-15,Fresh Food,üçó Meat & Fish,Meat & Fish Alternatives,17,3,8,13.061563,1.358066,8.68154,0

In [3]:
print(df_clean.time.count())
df_clean.head()

17401

,time,category_level_0,category_level_1,category_level_2,unique_skus_listed,unique_skus_sold,num_of_sold_sku_items,price_before_discount_includ_vat_eur,discount_value_eur,item_cogs_net_vat_eur,waste_num_of_items,date,day_name,weekday,day_of_month,revenue_before_discount,revenue_after_discount,profit_before_waste,waste_cogs,profit_after_waste
0,2023-09-17,Fresh food,Cheese,Hard cheese,26,17,37,135.812592,10.491467,88.81738,0,2023-09-17,Sunday,7,17,5025.065904,4636.881625,1350.638565,0.0,1350.638565
1,2023-08-02,Fresh food,Bakery,Gluten free,1,0,0,0.000000,0.000000,0.00000,0,2023-08-02,Wednesday,3,2,0.000000,0.000000,0.000000,0.0,0.000000
2,2023-08-26,Fresh food,Dairy eggs,Sour cream cream,14,10,26,53.454514,3.213313,31.87778,0,2023-08-26,Saturday,6,26,1389.817364,1306.271226,477.448946,0.0,477.448946
3,2023-09-24,Fresh food,Fresh ready,Desserts sweets,25,13,47,61.698558,3.516517,41.22566,0,2023-09-24,Sunday,7,24,2899.832226,2734.555927,796.949907,0.0,796.949907
4,2023-09-15,Fresh food,Meat fish,Meat fish alternatives,17,3,8,13.061563,1.358066,8.68154,0,2023-09-15,Friday,5,15,104.492504,93.627976,24.175656,0.0,24.175656

In [4]:
sorted(df_clean.columns)

['category_level_0',
 'category_level_1',
 'category_level_2',
 'date',
 'day_name',
 'day_of_month',
 'discount_value_eur',
 'item_cogs_net_vat_eur',
 'num_of_sold_sku_items',
 'price_before_discount_includ_vat_eur',
 'profit_after_waste',
 'profit_before_waste',
 'revenue_after_discount',
 'revenue_before_discount',
 'time',
 'unique_skus_listed',
 'unique_skus_sold',
 'waste_cogs',
 'waste_num_of_items',
 'weekday']

In [5]:
print(df_products.time.count())
df_products.head()

17310

,time,category_level_0,category_level_1,category_level_2,unique_skus_listed,unique_skus_sold,num_of_sold_sku_items,price_before_discount_includ_vat_eur,discount_value_eur,item_cogs_net_vat_eur,waste_num_of_items,date,day_name,weekday,day_of_month,revenue_before_discount,revenue_after_discount,profit_before_waste,waste_cogs,profit_after_waste
0,2023-09-17,Fresh food,Cheese,Hard cheese,26,17,37,135.812592,10.491467,88.81738,0,2023-09-17,Sunday,7,17,5025.065904,4636.881625,1350.638565,0.0,1350.638565
1,2023-08-02,Fresh food,Bakery,Gluten free,1,0,0,0.000000,0.000000,0.00000,0,2023-08-02,Wednesday,3,2,0.000000,0.000000,0.000000,0.0,0.000000
2,2023-08-26,Fresh food,Dairy eggs,Sour cream cream,14,10,26,53.454514,3.213313,31.87778,0,2023-08-26,Saturday,6,26,1389.817364,1306.271226,477.448946,0.0,477.448946
3,2023-09-24,Fresh food,Fresh ready,Desserts sweets,25,13,47,61.698558,3.516517,41.22566,0,2023-09-24,Sunday,7,24,2899.832226,2734.555927,796.949907,0.0,796.949907
4,2023-09-15,Fresh food,Meat fish,Meat fish alternatives,17,3,8,13.061563,1.358066,8.68154,0,2023-09-15,Friday,5,15,104.492504,93.627976,24.175656,0.0,24.175656

# Dataset exploration
Checking what values do we have in the dataset and what is the range for numeric ones. It is a preparation that is needed before starting the analysis itself.

## Dates range

In [6]:
#  What is the range of dates in the dataset?
df_clean['time'].min(), df_clean['time'].max()

(Timestamp('2023-07-01 00:00:00'), Timestamp('2023-09-30 00:00:00'))

In [7]:
# If there are any days without data inside this range?
df_clean['date'] = pd.to_datetime(df_clean['time'])
min_date = df_clean['date'].min()
max_date = df_clean['date'].max()
date_range = pd.date_range(start=min_date, end=max_date, freq='D')

set(date_range).issubset(set(df_clean['date']))

False

In [8]:
[date for date in date_range if date not in set(df_clean['date'])]

[Timestamp('2023-08-15 00:00:00', freq='D')]

Ok, so it is just 1 day missed. This means we can try to check weekdays and still have enough data for each of it. At least for overall evploration.

In [9]:
# Adding weekday column to the dataframe to analyse dynamics of sales by week days.
df_clean['day_name'] = df_clean['time'].dt.day_name()
df_clean['weekday'] = df_clean['time'].dt.dayofweek + 1
df_clean[['time', 'day_name', 'weekday']].head(4)

        time   day_name  weekday
0 2023-09-17     Sunday        7
1 2023-08-02  Wednesday        3
2 2023-08-26   Saturday        6
3 2023-09-24     Sunday        7

## Categories hierarchy

In [10]:
# Ok, so the df is relatively small, so let's check what values we have inside it on the first and second levels.
print(df_clean['category_level_0'].unique())
print('==========')

for x in df_clean['category_level_0'].unique():
    print(x + ' sub-categories:')
    unique_values_series = pd.Series(df_clean[df_clean['category_level_0'] == x]['category_level_1'].unique())
    print(unique_values_series.sort_values().values)
    print('=====')

['Fresh food' 'Grocery food' 'Grocery nonfood' 'Not defined' 'Other']
==========
Fresh food sub-categories:
['Bakery' 'Cheese' 'Dairy  eggs' 'Fresh  ready' 'Fruits  vegetables'
 'Meat  fish']
=====
Grocery food sub-categories:
['Beer  cider' 'Beverages' 'Canned goods  preserves' 'Coffee tea  cocoa'
 'Frozen products' 'Ice cream' 'Instant meals' 'Pantry' 'Salty snacks'
 'Spirits' 'Sweet snacks' 'Water  flavoured water' 'Wine']
=====
Grocery nonfood sub-categories:
['Baby care' 'Health  safety' 'Home accessories' 'Home care'
 'Personal care' 'Pet care' 'Tobacco  heated tobacco' 'Toys  games']
=====
Not defined sub-categories:
['Not defined']
=====
Other sub-categories:
['Save me']
=====

What is the "Save me" sub-category?

In [11]:
sorted(df_clean[df_clean['category_level_1'] == 'Save me']['category_level_2'].unique())

['Packaging fee']

Ok, so this is a technical thing that we should exclude it from the demand's analysis.

Checking "Not defined" also.

In [12]:
sorted(df_clean[df_clean['category_level_1'] == 'Not defined']['category_level_2'].unique())

['Not defined']

This has to be a product's category, but we need to escalate why we have missed values in case it has enough impact over our revenue.